# pixi environments
.pixi

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Environment variables
**/.env
**/.env.*
!**/.env.example

# Python virtual environments
venv/

# Local Data
data/interim/
data/processed/
data/landiq/*.shp
data/landiq/*.shx
data/landiq/*.dbf
data/landiq/*.prj
data/landiq/*.cpg
data/landiq/*.xml
*.csv
!src/ca_biositing/pipeline/ca_biositing/pipeline/utils/commodity_mappings.csv
!src/ca_biositing/pipeline/ca_biositing/pipeline/etl/transform/landiq/*.csv
!resources/assets/*.csv

# Credentials
credentials.json

# macOS
.DS_Store

# Jupyter Notebooks
.ipynb_checkpoints/

# Tools
pgschema

# Pulumi
.pulumi/

# Agents Braindump
.agents/

# Database Backups
backups/
*.sql
!src/ca_biositing/datamodels/ca_biositing/datamodels/sql_schemas/main.sql
