name: CD

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
  release:
    types:
      - published

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  # Many color libraries just need this to be set to any value, but at least
  # one distinguishes color depth, where "3" -> "256-bit color".
  FORCE_COLOR: 3

jobs:
  dist:
    name: Distribution build (${{ matrix.package }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package: [datamodels, pipeline, webservice]
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Build and inspect ${{ matrix.package }} package
        uses: hynek/build-and-inspect-python-package@v2
        with:
          path: src/ca_biositing/${{ matrix.package }}
          upload-name-suffix: -${{ matrix.package }}

  publish:
    needs: [dist]
    name: Publish ${{ matrix.package }} to PyPI
    environment: pypi
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    strategy:
      matrix:
        package: [datamodels, pipeline, webservice]

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: Packages-${{ matrix.package }}
          path: dist

      - uses: pypa/gh-action-pypi-publish@release/v1
